@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
@layer components {
  .underline-effect span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #D8BD8F; /* Cambia esto al color que quieras para el subrayado */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  .underline-effect:hover span::after {
    transform: scaleX(1);
  }
}

@keyframes gradient-x {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.animate-gradient-x {
  background: linear-gradient(270deg, white, #D8BD8F);
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}

